<div id="map-{{slug}}" class="max-w-full min-h-[18rem]">
</div>
<script>

    const map = L.map('map-{{slug}}').setView([50.26, -119.2518], 13);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href=" http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);



    fetch('/team/gps_tracks/{{gps-track-id}}')
        .then(response => response.text())
        .then((data) => {
            var markerArray = [];
            var capaGeoCSV = L.geoCsv(data, {
                lineSeparator: '|',
                fieldSeparator: ';'
            });
            let rows = data.split('|')
            let middle = rows[1]
            let first = rows[0]
            let last = rows[rows.length - 5]
            let d = middle.split(';')
            let lastA = last.split(';')
            //map.setView([d[0], d[1]], 13);

            for (let i = 0; i < rows.length - 1; i = i + 5) {
                let coords = rows[i].split(';')
                markerArray.push(L.marker([coords[0], coords[1]]));
            }
            map.addLayer(capaGeoCSV);
            var group = L.featureGroup(markerArray).addTo(map);
            map.fitBounds(group.getBounds());
        })

</script>